*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 스크롤바 완전 제거 */
::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
